*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Navabar-div{
  background-color:whitesmoke;
  height: 89px;
}
.Links-div{
  display: flex;
  justify-content: space-around;
}
.Links-div ul{
  display: flex;
  gap: 100px;
  list-style:none;
  text-decoration:none;
  align-items: center;
  color:blue;
  font-size: 23px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}
.Links-div ul li{
margin-top: -100px;
text-decoration: none;
color: black;
}
.Links-div ul a{
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;

}
a:after{
  background-color: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height:2px;
  left: 50%;
  position: absolute;
  background:black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width:0;
}
a:hover:after{
  width: 100%;
  left: 0;
}


.btns Button{
  margin-left: 40px;
  text-decoration: none;
  padding: 9px 30px;
  border: none;
  font-weight: 600;
  margin-top:-100px;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  list-style-type: none;
}
.btns Button:hover{
background-color: aqua;
}
.head-div{
  color: white;
  margin-top:-500px;
  margin-left: 80px;
  
}
.head2-div{
  color: white;
  font-size: 60px;
  margin-left: 80px;
  margin-top: 20px;
}
.para-div{
  color: white;
   font-size: 20px;
   margin-left: 80px;
}
button{
  margin-left: 80px;
  text-decoration: none;
  padding: 9px 30px;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  background-color:white;
  color: black;
  cursor: pointer;
}
button:hover{
  background-color: gray;
  color: white;
  border-radius: 5px;
}
.img-div h1{
  margin-top: -500px;
  margin-left: 30px;
  color: white;
}
.img-div h2{
  font-size: 100px;
  color: white;
}
.img-div p{
  color: white;
  font-size: 40px;
  margin-left: 30px;
}
.img-div button:hover{
background-color: #333;
}
.our-div{
  font-size: 70px;
  margin-top: 250px;
  margin-left: 100px;
}
.img2-div h1{
  margin-top: -390px;
  margin-left: 30px;
  font-size: 50px;
  color: white;
}
.img2-div h2{
  font-size: 100px;
  margin-left: 30px;
  color: white;
}
.img2-div p{
  color: white;
  font-size: 30px;
  margin-left: 20px;
}
.img3-div h1{
  margin-top: -300px;
  margin-left: 30px;
}
.img3-div p{
  margin-left: 30px;
  font-size: 26px;
}
.img3-div button{
  background-color: #333;
  color: aliceblue;
  padding: 19px;
}
.img3-div button:hover{
  background-color: purple;
}
.photo-div h1{
  margin-top: -550px;
  color: white;
  font-size: 80px;
  margin-left: 35px;
}
.photo2-div{
margin-top: 500px;
margin-left: 80PX;
}
.btn-div button{
  color:black;
  background-color: yellowgreen;
  border: 4px solid black;
  margin-left: 500px;
}
.btn-div button:hover{
border-color:purple;
}
.section1-div{
  height:500px;
  width: 1300px;
  background-color: #333;
  margin-top: 30px;
  border-radius: 10px;
}
.section1-div img{
  margin-left:750px;
  margin-top: 80px;
  border-radius:10px;
  cursor:pointer;
}
.section1-div h1{
  color:white;
  margin-top:-300px;
  font-size: 50px;
}
.section1-div p{
  color: white;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 30px;
}
.img5-div h1{
color:white;
margin-top: -370px;
margin-left: 60px;

}
.img5-div p{
  color: white;
  margin-left:50px;
  margin-top: 20px;
  font-size:20px;
}
.cards-div img{
  margin-top: 190px;
  margin-left: 30px;
}
.cards-div h2{
  margin-left: 90px;
  font-size: 40px;
   
}
.cards-div p{
  color: black;
}
.img7-div h1{
color:white ;
margin-top: -500px;
margin-left: 30px;
font-size: 50px;
}
.img8-div img{
  margin-top: 450px;
  margin-left: 20px;
}
.img8-div h1{
  margin-left: 500px;
  font-size: 50px;
  margin-top: -350px;
  color: black;
  margin-left:590px;
}
.img8-div p{
  margin-left: 500px;
  color: black;
  margin-left:590px;
  font-size: 30px;
  margin-top: 30px;
}
.img9-div img{
  margin-left: 850px;
  margin-top:290px;
}
.img9-div h1{
  margin-left:-00px;

}
.img9-div p{
  margin-left:-00px;
  margin-left: 20px;
}
.Footer-div{
  height: 150px;
  width: 1470px;
  background-color: #333;
  margin-top: 180px;
  border-radius: 10px;
}
.Footer-div img{
  margin-left: 20px;
  margin-top: 20px;
}
.Footer-div button{
  margin-left:1100px ;
  margin-top: 10px;
}
.Footer2-div {
  height: 40px;
  width: 1480px;
}
.dummy-div{
  height: 120px ;
  width: 100px;
  background-color: white;
}
